.app-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
}

.sidebar {
  width: 0px;
  background-color: transparent;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
}

.map-container {
  flex: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.floatingCard {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.vehicle-fade {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(10px); // ou -10px se quiser subir
}