.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1e1e1e;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.sidebar {
  width: 350px;
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.map {
  flex: 1;
}
