.sprite {
    width: 50px;
    height: 50px;
    background-image: url('../../assets/cars.png'); // ajuste se o caminho for diferente
    background-repeat: no-repeat;
    background-size: auto;
  }
  